<h1>Create a New List</h1>
<%= form_with(model: @list, url: lists_path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <%= form.submit "Create List" %>
<% end %>
